@function pixels($amount, $size: 30px)
  @return $amount*$size

.character
  width: 100%
  height: 100%
  display: flex
  flex-direction: column
  align-items: center

  &__dead
    opacity: 0

    &--enabled
      opacity: 1

  &__effigy
    width: #{156px*0.7}
    height: #{203px*0.7}
    display: block

  &__body
    transform-origin: pixels(3.5) pixels(2)

  &__head
    transform-origin: pixels(4.5) pixels(10.5)

    &--chilling--enabled
      animation: chilling .1s infinite

  &__arm
    &--swimming--enabled
      &.character__arm--left
        animation: character-arm-swimming-left 1s infinite linear

      &.character__arm--right
        animation: character-arm-swimming-right 1s infinite linear

    &--chilling--enabled
      animation: chilling .1s infinite

    &--displacement

    &--left, &--right
      transform-origin: pixels(0.5) pixels(0.5)

  &__hand
    &--swimming--enabled
      &.character__hand--left
        animation: character-hand-swimming-left 1s infinite linear

      &.character__hand--right
        animation: character-hand-swimming-right 1s infinite linear

    &--chilling--enabled
      animation: chilling .1s infinite

    &--left, &--right
      transform-origin: pixels(0.5) pixels(0.5)

  &__leg
    transition: .4s

    &--flexibility
      @for $n from 0 through 9
        @at-root &--#{$n}.character__leg--left
          transform: rotate(#{$n*10}deg)

        @at-root &--#{$n}.character__leg--right
          transform: rotate(#{-$n*10}deg)

    &--swimming--enabled
      &.character__leg--left
        animation: character-leg-swimming-left 1s infinite

      &.character__leg--right
        animation: character-leg-swimming-right 1s infinite

    &--chilling--enabled
      animation: chilling .1s infinite

    &--displacement

    &--left
      transform-origin: pixels(1.5) pixels(0.5)

    &--right
      transform-origin: pixels(0.5) pixels(0.5)

  &__foot
    &--swimming--enabled
      &.character__foot--left
        animation: character-foot-swimming-left 1s infinite

      &.character__foot--right
        animation: character-foot-swimming-right 1s infinite

    &--chilling--enabled
      animation: chilling .1s infinite

    &--left
      transform-origin: pixels(1.5) pixels(0.5)

    &--right
      transform-origin: pixels(0.5) pixels(0.5)

  &__apnea
    opacity: 0

    &--enabled
      animation: character-apnea 1s infinite

    &--1
      animation-delay: 0

    &--2
      animation-delay: .5s

  &__name
    margin-top: 10px
    display: block
    text-align: center
    letter-spacing: .1em
    font-weight: bold
    font-size: 10px

@keyframes character-arm-swimming-left
  0%
    transform: rotate(0)

  100%
    transform: rotate(-360deg)

@keyframes character-arm-swimming-right
  0%
    transform: rotate(0)

  100%
    transform: rotate(360deg)

@keyframes character-hand-swimming-left
  0%
    transform: rotate(0)

  25%
    transform: rotate(-90deg)

  50%
    transform: rotate(0)

  100%
    transform: rotate(0)

@keyframes character-hand-swimming-right
  0%
    transform: rotate(0)

  25%
    transform: rotate(90deg)

  50%
    transform: rotate(0)

  100%
    transform: rotate(0)

@keyframes character-leg-swimming-left
  0%
    transform: rotate(0)

  50%
    transform: rotate(60deg)

  100%
    transform: rotate(0)

@keyframes character-leg-swimming-right
  0%
    transform: rotate(0)

  50%
    transform: rotate(-60deg)

  100%
    transform: rotate(0)

@keyframes character-foot-swimming-left
  0%
    transform: rotate(0)

  25%
    transform: rotate(0)

  75%
    transform: rotate(-30deg)

  100%
    transform: rotate(0)

@keyframes character-foot-swimming-right
  0%
    transform: rotate(0)

  25%
    transform: rotate(0)

  75%
    transform: rotate(30deg)

  100%
    transform: rotate(0)

@keyframes chilling
  0%
    transform: rotate(0)

  25%
    transform: rotate(3deg)

  75%
    transform: rotate(-3deg)

  100%
    transform: rotate(0)

@keyframes character-apnea
  0%
    opacity: 0

  25%
    opacity: 1

  50%
    opacity: 1

  100%
    opacity: 0
