@function pixels($amount, $base: 1)
  @return 100%/$base*$amount

.character
  &__head
    transition: .4s

    @for $n from 0 through 9
      &--rotate--#{$n*10}
        transform: rotate(#{($n - 4.5)*10}deg)

    transform-origin: pixels(4.5, 9) pixels(10.5, 11)

  &__arm
    transition: .4s

    @for $n from 0 through 18
      @at-root #{&}--left#{&}--rotate--#{$n*10}
        transform: rotate(#{$n*10}deg)

      @at-root #{&}--right#{&}--rotate--#{$n*10}
        transform: rotate(#{-$n*10}deg)

    &--left
      transform-origin: pixels(0.5) pixels(0.5, 4)

    &--right
      transform-origin: pixels(0.5) pixels(0.5, 4)

  &__leg
    transition: .4s

    @for $n from 0 through 9
      @at-root #{&}--left#{&}--rotate--#{$n*10}
        transform: rotate(#{$n*10}deg)

      @at-root #{&}--right#{&}--rotate--#{$n*10}
        transform: rotate(#{-$n*10}deg)

    &--left
      transform-origin: pixels(1.5, 2) pixels(0.5, 5)

    &--right
      transform-origin: pixels(0.5, 2) pixels(0.5, 5)
